CompileFlags:
    CompilationDatabase: build
    Add: [-std=c++23]
Diagnostics:
  ClangTidy:
    Add: [
    # modernize*,
    # readability*,
    bugprone*,
    cppcoreguidelines*,
    # google*,
    # performance*
    ]

